
<h2>Stats</h2>
<div>
    <h3>Name:
        {{pokeman.name.charAt(0).toUpperCase() + pokeman.name.slice(1).replace("-", " ")}}
        <br>
    Species:
        {{pokeman.species.name.charAt(0).toUpperCase() + pokeman.species.name.slice(1).replace("-", " ")}}
    </h3>

        <img src={{pokeman.sprites.front_default}}>
<img src={{pokeman.sprites.back_default}}>
<br>

    <h2>Types:</h2> 
    <div *ngFor="let type of pokeman.types">
        {{type.type.name}}
    </div>
    <br>
    <h2>Base-Stats:</h2>
    <div *ngFor="let stat of pokeman.stats">
        Base-stat: {{stat.base_stat}}, Effort {{stat.effort}}
    </div>


</div>

<!--image, types, basestats, name speies-->