
<p>POKÉMON DATABASE!</p>

<input id="searchbar" type="text" (input)="handleChange($event.target.value)" placeholder="Search" >
<div id="contain">

<div *ngFor="let pokename of viewlist" >
    <app-pokemon-list-item [pokename]="pokename"></app-pokemon-list-item>
<br>
</div>
</div>
<div id="mores" *ngIf="isSearch">
<button id="butt" (click)="LoadMore()">Return</button>
</div>
<div id="mores" *ngIf="!isSearch">
    <button id="butt" (click)="LoadMore()">Load More</button>
</div>
