#contain{
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 70px;
    justify-content: center;
}
p{
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
#mores{
    text-align: center;

}
#butt{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    margin: 40px;
    border-radius: 20px;
    padding: 20px;
    cursor: url(https://www.iconninja.com/files/186/154/539/go-pokemon-pokeball-icon.png) 64 64, auto;
    
}
#butt:hover{
    background-color: antiquewhite;
    cursor: url(https://www.iconninja.com/files/186/154/539/go-pokemon-pokeball-icon.png) 64 64, auto;
}
#searchbar{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
    width: 50% ;
    margin-left: 25%;
}