#namez{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#contain2{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}
#proff{
    font-family: 'Courier New', Courier, monospace;
    margin:50px;
}
#stats{
    font-family: 'Courier New', Courier, monospace;
    margin: 50px;
}
#moves{
    font-family: 'Courier New', Courier, monospace;
    margin: 50px
}
button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    margin: 40px;
    border-radius: 20px;
    padding: 20px;
    cursor: url(https://www.iconninja.com/files/186/154/539/go-pokemon-pokeball-icon.png) 64 64, auto;
}
button:hover{
    background-color: antiquewhite;
    cursor: url(https://www.iconninja.com/files/186/154/539/go-pokemon-pokeball-icon.png) 64 64, auto;
}