<div id=namez><h1 >{{name.charAt(0).toUpperCase() + name.slice(1).replace("-", " ")}}</h1><button routerLink="/">Return</button></div>
<br>
<div id="contain2">
<app-pokemon-stats id="stats" [pokeman]="pokeman"></app-pokemon-stats>

<app-pokemon-profile id="proff" [pokeman]="pokeman"></app-pokemon-profile>


<div id="moves">
    <h2>Moves</h2>
    <div *ngFor="let move of moves" >
        <app-pokemon-moves [move]="move"></app-pokemon-moves>
    </div>
</div>
</div>
