<h2 >Profile</h2><br>
<div>
    Height: {{pokeman.height}}, <br>
    Weight: {{pokeman.weight}}, <br>
    Base-Experience: {{pokeman.base_experience}}<br>
    Abilities: 
    <div *ngFor="let ability of pokeman.abilities">
        {{ability.ability.name}}  
    </div>
</div>

