button{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    padding: 30px 32px;
    margin: 15px;
    background-color: white;
    cursor: url(https://www.iconninja.com/files/186/154/539/go-pokemon-pokeball-icon.png) 64 64, auto;
    
    
}
button:hover{
    background-color: aliceblue;
    transition-duration: 0.1s;
    cursor: url(https://www.iconninja.com/files/186/154/539/go-pokemon-pokeball-icon.png) 64 64, auto;
}